<ui-view name="lineInAreas">
  <section>
    <div class="container">
      <div class="pathNav">
        <a>alerts > </a><a>...</a>
      </div>
      <ui-view>
        <div class="alerts">
          <div class="left">
            <img src="../../../assets/img/areasicon.png">
            <span>SELECT PLANT FOR VIEW AREAS</span>
          </div>
          <div class="searchMenu">
            <div class="search">
              <input type="text" placeholder="search">
              <img src="../../../assets/img/Searchbutton.svg" alt="" class="searchButton">
            </div>
            <div class="content">
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
              <p>Plant A description</p>
            </div>
          </div>
        </div>
      </ui-view>
    </div>
  </section>
</ui-view>
