section{
  background: -moz-linear-gradient(-90deg, rgb(187, 202, 210) 0%, rgb(171, 183, 188) 100%);
  background: -webkit-linear-gradient(-90deg, rgb(187, 202, 210) 0%, rgb(171, 183, 188) 100%);
  background: -ms-linear-gradient(-90deg, rgb(187, 202, 210) 0%, rgb(171, 183, 188) 100%);
  background: linear-gradient(-90deg, rgb(187, 202, 210) 0%, rgb(171, 183, 188) 100%);
  height: calc(100% - 134.98px);
  .container{
    margin: 0 auto;
    max-width: calc(100% - 200px);
    padding: 0;
    .pathNav{
      padding: 18px 0;
      a{
        color: #518bb9;
        font-size: 18px;
      }
    }
    .alerts{
      height: 110px;
      padding: 0 28px 0 40px;
      align-items: center;
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      .left{
        span{
          font-size: 24px;
          color: #518bb9;
          vertical-align: middle;
          margin: 0 0 0 42px;
          line-height: 11px;
          cursor: pointer;
        }
      }
      .searchMenu{
        display: none;
        max-width: 300px;
        width: 100%;
        max-height: 245px;
        background-color: #eaedee;
        padding: 0 0 20px 0;
        &.show{
          display: block;
          position: absolute;
          top: 95px !important;
          left: 185px !important;
        }
        &:before{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 15px 10px;
          border-color: transparent transparent #bbcad2 transparent;
          content: '';
          position: absolute;
          right: calc(50% - 7.5px);
          top: -15px;
        }
        .search{
          position: relative;
          margin: 25px;
          input{
            height: 40px;
            width: 100%;
            font-size: 18px;
            color: #b3cfd6;
            padding: 0 56px 0 17px;
            &::placeholder{
              color: #bbcad2;
            }
          }
          img.searchButton{
            position: absolute;
            right: 3px;
            top: 3px;
            cursor: pointer;
          }
        }
        .content{
          overflow-y: scroll;
          max-height: 135px;
          p{
            padding: 0 25px;
            cursor: pointer;
            font-size: 18px;
            color: #4c504e;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover{
              background-color: #518bb9;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
