<section>
  <div class="container">
    <div class="pathNav">
      <a>alerts > </a><a>...</a>
    </div>
    <ui-view>
      <div class="alerts">
        <div class="left">
          <img src="../../../assets/img/plantsIcon.svg">
          <span>PRODUCTION PLANTS</span>
        </div>
        <div class="right">
          <a uiSrefActive="active" uiSref="plants.add-plant"><img src="../../../assets/img/backlogbutton.svg"></a>
        </div>
      </div>
      <div class="main">
        <div class="tr grey">
          <div class="left">
            <p class="number">1</p>
            <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
          </div>
          <div class="right">
            <button>Edit</button>
            <button>to Areas</button>
          </div>
        </div>
        <div class="tr white">
          <div class="left">
            <p class="number">1</p>
            <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
          </div>
          <div class="right">
            <button>Edit</button>
            <button>to Areas</button>
          </div>
        </div>
        <div class="tr grey">
          <div class="left">
            <p class="number">1</p>
            <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
          </div>
          <div class="right">
            <button>Edit</button>
            <button>to Areas</button>
          </div>
        </div>
        <div class="tr white">
          <div class="left">
            <p class="number">1</p>
            <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
          </div>
          <div class="right">
            <button>Edit</button>
            <button>to Areas</button>
          </div>
        </div>
        <div class="tr grey">
          <div class="left">
            <p class="number">1</p>
            <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
          </div>
          <div class="right">
            <button>Edit</button>
            <button>to Areas</button>
          </div>
        </div>
        <div class="tr white">
          <div class="left">
            <p class="number">1</p>
            <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
          </div>
          <div class="right">
            <button>Edit</button>
            <button>to Areas</button>
          </div>
        </div>
      </div>
    </ui-view>
  </div>
</section>
