<ui-view name="areaInPlants">
  <section>
    <div class="container">
      <div class="pathNav">
        <a>alerts > </a><a>...</a>
      </div>
      <ui-view>
        <div class="alerts">
          <div class="left">
            <img src="../../../assets/img/plantsIcon.svg">
            <span>PRODUCTION PLANTS</span>
          </div>
          <div class="right">
            <a uiSrefActive="active" uiSref="plants.new"><img src="../../../assets/img/backlogbutton.svg"></a>
          </div>
        </div>
        <div class="main"
             infiniteScroll
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="0"
             [infiniteScrollUpDistance]="0"
             (scrolled)="onScroll()">
          <div class="tr" *ngFor="let item of plantsService.items; let i = index" [class.white]="i%2==1" [class.grey]="i%2==0">
            <div class="left">
              <p class="number">{{i + 1}}</p>
              <p class="desc">{{item.description}}</p>
            </div>
            <div class="right">
              <a uiSrefActive="active" uiSref="plants.edit" [uiParams]="{ id: item.id}">
                <button class="transparent">Edit</button>
              </a>
              <a uiSrefActive="active" uiSref="plants.area" [uiParams]="{ id: item.id}">
                <button>to Areas</button>
              </a>
            </div>
          </div>
        </div>
      </ui-view>
    </div>
  </section>
</ui-view>
