<ui-view name="partInMachines">
  <section>
    <div class="container">
      <div class="pathNav">
        <a>alerts > </a><a>...</a>
      </div>
      <ui-view>
        <div class="alerts">
          <div class="left">
            <img src="../../../../assets/img/machinesicon.svg">
            <span>PRODUCTION LINES <span class="plantName">FOR LINE 2 - LINE DESCRIPTION</span></span>
          </div>
          <div class="right">
            <a uiSrefActive="active" uiSref="machines.machine" [uiParams]="{ id: 'machine', typeOperation: 'new' }"><img src="../../../../assets/img/backlogbutton.svg"></a>
          </div>
        </div>
        <div class="main">
          <div class="tr grey">
            <div class="left">
              <p class="number">1</p>
              <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
            </div>
            <div class="right">
              <a uiSrefActive="active" uiSref="machines.machine" [uiParams]="{ id: 1, typeOperation: 'edit' }">
                <button class="transparent">Edit</button>
              </a>
              <a uiSrefActive="active" uiSref="machines.part" [uiParams]="{ id: 1}">
                <button>to Parts</button>
              </a>
            </div>
          </div>
          <div class="tr white">
            <div class="left">
              <p class="number">1</p>
              <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
            </div>
            <div class="right">
              <a uiSrefActive="active" uiSref="machines.machine" [uiParams]="{ id: 1, typeOperation: 'edit' }">
                <button class="transparent">Edit</button>
              </a>
              <a uiSrefActive="active" uiSref="machines.part" [uiParams]="{ id: 1}">
                <button>to Parts</button>
              </a>
            </div>
          </div>
        </div>
      </ui-view>
    </div>
  </section>
</ui-view>
