<ui-view name="lineInAreas">
  <section>
    <div class="container">
      <div class="pathNav">
        <a>alerts > </a><a>...</a>
      </div>
      <ui-view>
        <div class="alerts">
          <div class="left">
            <img src="../../../../assets/img/linesicon.svg">
            <span>PRODUCTION LINES <span class="plantName">FOR AREA 2 - AREA DESCRIPTION</span></span>
          </div>
          <div class="right">
            <a uiSrefActive="active" uiSref="lines.line" [uiParams]="{ id: 'area', typeOperation: 'new' }"><img src="../../../assets/img/backlogbutton.svg"></a>
          </div>
        </div>
        <div class="main">
          <div class="tr grey">
            <div class="left">
              <p class="number">1</p>
              <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
            </div>
            <div class="right">
              <a uiSrefActive="active" uiSref="lines.line" [uiParams]="{ id: 1, typeOperation: 'edit' }">
                <button class="transparent">Edit</button>
              </a>
              <a>
                <button>to Machines</button>
              </a>
            </div>
          </div>
          <div class="tr white">
            <div class="left">
              <p class="number">1</p>
              <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
            </div>
            <div class="right">
              <a uiSrefActive="active" uiSref="lines.line" [uiParams]="{ id: 1, typeOperation: 'edit' }">
                <button class="transparent">Edit</button>
              </a>
              <a>
                <button>to Machines</button>
              </a>
            </div>
          </div>
        </div>
      </ui-view>
    </div>
  </section>
</ui-view>
