<section class="body">
  <div class="wrapper">
    <div class="left">
      <p>YOUR</p>
      <p>COMPANY</p>
      <p>LOGO</p>
    </div>
    <div class="right">
      <p class="login">LOGIN</p>
      <form>
        <div class="field">
          <label for="email"></label>
          <input type="text" id="email" [(ngModel)]="data.Email" name="email">
        </div>
        <div class="field">
          <label for="password"></label>
          <input type="password" id="password" [(ngModel)]="data.Password" name="password">
          <p class="activeBorder"></p>
        </div>
        <div class="actions">
          <div class="checkbox">
            <input type="checkbox" class="pointer"><span>show password</span>
          </div>
          <button type="submit" (click)="login()"><img src="../../../assets/img/key.png" alt="">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
</section>
