section{
  .alerts{
    height: 195px;
    padding: 14px 28px 15px 40px;
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    input, select{
      border: 1px solid #2e4a57;
      height: 50px;
      padding: 0 0 0 20px;
      font-size: 21px;
      color: #bbcad2;
      &::placeholder{
        color: #bbcad2;
      }
    }
    .left{
      flex: 0 0 25%;
      span{
        font-size: 24px;
        color: #221e1f;
        vertical-align: middle;
        margin: 0 0 0 42px;
        line-height: 11px;
      }
    }
    .right{
      flex: 0 0 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 730px;
      width: 100%;
      #code{
        width: 158px
      }
      #desc{
        width: 378px;
      }
      img{
        cursor: pointer;
      }
    }
    .bottom{
      flex: 0 0 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      input, select{
        max-width: 350px;
        width: 100%;
      }
    }
  }
}

