<section>
  <div class="alerts">
    <div class="left">
      <img src="../../../../assets/img/machinesicon.svg">
      <span>NEW LINE</span>
    </div>
    <div class="right">
      <input type="text" placeholder="Code" id="code">
      <input type="text" placeholder="Description" id="desc">
      <a><img src="../../../../assets/img/discardbutton.svg"></a>
      <a><img src="../../../../assets/img/applybutton.svg"></a>
    </div>
    <div class="bottom">
      <select type="text" id="area">
        <option value="" disabled selected>Select area</option>
        <option>1</option>
      </select>
      <input type="text" placeholder="Manufacturer" id="manuf">
      <input type="text" placeholder="Line Target" id="line">
    </div>
  </div>
</section>

