<section>
  <div class="container">
    <div class="pathNav">
      <a>alerts > </a><a>...</a>
    </div>
    <div class="alerts">
      <div class="left">
        <img src="../../../assets/img/backlogicon.svg">
        <span>BACKLOG</span>
      </div>
      <div class="right">
        <span>add new extraordinary operation</span>
        <img src="../../../assets/img/backlogbutton.svg">
      </div>
    </div>
    <div class="main">
      <div class="th">
        <div class="calendar">
          <button><img src="../../../assets/img/calendarIcon.svg">from 12.9.2018 to 24.11.2019</button>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="pointer"><span>ordinary</span>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="pointer"><span>extraordinary</span>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="pointer"><span>completed</span>
        </div>
        <div class="checkbox custom">
          <img src="../../../assets/img/backlogExcel.svg">
        </div>
      </div>
      <div class="tr white">
        <p>Line E4422</p>
        <p>Component 3244</p>
        <p>Due date: 21.12.2019</p>
        <img src="../../../assets/img/backlogOrdinary.svg">
        <img src="../../../assets/img/backlogComplete.svg">
      </div>
      <div class="tr grey">
        <p>Line E4422</p>
        <p>Component 3244</p>
        <p>Due date: 21.12.2019</p>
        <img src="../../../assets/img/backlogOrdinary.svg">
        <img src="../../../assets/img/backlogComplete.svg">
      </div>
      <div class="tr white">
        <p>Line E4422</p>
        <p>Component 3244</p>
        <p>Due date: 21.12.2019</p>
        <img src="../../../assets/img/backlogExtraordinary.svg">
        <img src="../../../assets/img/backlogUncompleted.svg">
      </div>
      <div class="tr grey">
        <p>Line E4422</p>
        <p>Component 3244</p>
        <p>Due date: 21.12.2019</p>
        <img src="../../../assets/img/backlogOrdinary.svg">
        <img src="../../../assets/img/backlogComplete.svg">
      </div>
      <div class="tr white">
        <p>Line E4422</p>
        <p>Component 3244</p>
        <p>Due date: 21.12.2019</p>
        <img src="../../../assets/img/backlogOrdinary.svg">
        <img src="../../../assets/img/backlogComplete.svg">
      </div>
    </div>
  </div>
</section>
