<section>
  <div class="container">
    <div class="pathNav">
      <a>alerts > </a><a>...</a>
    </div>
    <div class="alerts">
      <div>
        <img src="../../../assets/img/alertsAlert.svg">
        <span>ALERTS</span>
      </div>
    </div>
    <div class="main">
      <div class="th">
        <div class="calendar">
          <button><img src="../../../assets/img/calendarIcon.svg">from 12.9.2018 to 24.11.2019</button>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="pointer"><span>taken</span>
        </div>
      </div>
      <div class="tr white">
        <div class="left">
          <p class="number">1</p>
          <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
        </div>
        <div class="right">
          <img src="../../../assets/img/Playbutton.svg">
          <div class="visualizer">
            <img src="../../../assets/img/waveform.svg">
          </div>
          <button>Add operation</button>
        </div>
      </div>
      <div class="tr grey">
        <div class="left">
          <p class="number">1</p>
          <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
        </div>
        <div class="right">
          <img src="../../../assets/img/Playbutton.svg">
          <div class="visualizer">
            <img src="../../../assets/img/waveform.svg">
          </div>
          <button>Add operation</button>
        </div>
      </div>
      <div class="tr white">
        <div class="left">
          <p class="number">1</p>
          <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
        </div>
        <div class="right">
          <img src="../../../assets/img/Playbutton.svg">
          <div class="visualizer">
            <img src="../../../assets/img/waveform.svg">
          </div>
          <button>Add operation</button>
        </div>
      </div>
      <div class="tr grey">
        <div class="left">
          <p class="number">1</p>
          <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
        </div>
        <div class="right">
          <img src="../../../assets/img/Playbutton.svg">
          <div class="visualizer">
            <img src="../../../assets/img/waveform.svg">
          </div>
          <button>Add operation</button>
        </div>
      </div>
      <div class="tr white">
        <div class="left">
          <p class="number">1</p>
          <p class="desc">Here are the first few words of the description of asffffffffffffff</p>
        </div>
        <div class="right">
          <img src="../../../assets/img/Playbutton.svg">
          <div class="visualizer">
            <img src="../../../assets/img/waveform.svg">
          </div>
          <button>Add operation</button>
        </div>
      </div>
    </div>
  </div>
</section>
